@font-face
{
  font-family : BrandonGrotesque;
  src: url( BrandonGrotesque.otf );
}

hr
{
  border     : 0.0em;
  margin     : 0.0em;
  width      : 100%;
  height     : 0.1em;
  background : #36454F;
}

/* Make sections appear on their own rows */
div.row
{
  content : "";
  display : table;
  clear   : both;
}

/* --- Header --- */

.Header
{
  position         : fixed;
  background-color : #36454F;
  top              : 0.0vw;
  left             : 0.0vw;
  width            : 100%;
  height           : 2.5vw;
  font-family      : BrandonGrotesque;
}

.Header .Name
{
  position    : fixed;
  font-size   : 1.7vw;
  margin-top  : 0.0vw;
  margin-left : 2.0vw;
  text-align  : left;
  color       : #FFFFFF;
}

.Header .Links
{
  position    : fixed;
  font-size   : 1.7vw;
  left        : 37%;
  margin-top  : 0.0vw;
}

a.navlink:link
{
  color           : #FFFFFF;
  text-decoration : none;
  padding         : 0.5em;
}
a.navlink:visited
{
  color           : #FFFFFF;
  text-decoration : none;
  padding         : 0.5em;
}
a.navlink:hover
{
  color           : #FFA500;
  text-decoration : none;
  padding         : 0.5em;
}
a.navlink:active
{
  color           : #FF0000;
  text-decoration : none;
  padding         : 0.5em;
}

.Header .ExternalLinks
{
  float           : right;
  list-style-type : none; /* Don't show the bullet point */
  margin-right    : 2.0vw;
  margin-top      : 0.4vw;
}

/* --- Images --- */

img.rounded-corners
{
  border-radius : 30px;
  border        : 2px solid #FFFFFF;
}

/* --- Body --- */

body
{
  margin-left           : 5.0%;
  margin-right          : 7.0%;
  font-size             : 1.25vw;
  margin-top            : 2.0vw;
  margin-bottom         : 2.0vw;
  font-family           : Mission Script;
  color                 : #36454F;
  background-color      : #FFFFFF;
  opacity               : 1.0;
}
p a:link
{
  color : #0000FF;
}
p a:visited
{
  color : #0000FF;
}
p a:hover
{
  color : #FF0000;
}
p a:active
{
  color : #FFFF00;
}

/* --- Publications --- */

a.publink:link
{
  color           : #36454F;
  text-decoration : none;
}
a.publink:visited
{
  color           : #36454F;
  text-decoration : none;
}
a.publink:hover
{
  color           : #FFA500;
  text-decoration : none;
}
a.publink:active
{
  color           : #FF0000;
  text-decoration : none;
}

/* --- Footer --- */

.footer
{
  position         : fixed;
  font-size        : 1.25vw;
  left             : 0.0vw;
  bottom           : 0.0vw;
  width            : 100%;
  background-color : #36454F;
  color            : #FFFFFF;
  height           : 2.0vw;
  border-top       : 3px solid #FFFFFF;
  font-family      : BrandonGrotesque;
}
.footer .Updated
{
  padding-top : 0.1vw;
  float       : left;
  margin-left: 2.0vw;
}
.footer .Logo
{
  position    : relative;
  left        : 25%;
  padding-top : 0.25vw;
  width       : 1.5vw;
  height      : 1.5vw;
}
.footer .FigAcknowledgements
{
  padding-top  : 0.0vw;
  float        : right;
  margin-right : 2.0vw;
}

/* Taken from:
https://stackoverflow.com/questions/10732690/offsetting-an-html-
anchor-to-adjust-for-fixed-header */
a.TopAnchor
{
  display    : block;
  position   : relative;
  top        : -10em;
  visibility : hidden;
}
a.SectionAnchor
{
  display    : block;
  position   : relative;
  top        : -1em;
  visibility : hidden;
}
a.SectionAnchor:hover
{
  color : #36464F;
}
