html
{
  font-size : calc( 15px + 0.390625vw );
}

@font-face
{
  font-family : BrandonGrotesque;
  src: url( BrandonGrotesque.otf );
}

hr
{
  border     : 0.0rem;
  margin     : 0.0rem;
  width      : 100%;
  height     : 0.1rem;
  background : #36454F;
}

/* Make sections appear on their own rows */
div.row
{
  content : "";
  display : table;
  clear   : both;
}

/* --- Header --- */

.Header
{
  position         : fixed;
  background-color : #36454F;
  top              : 0.0rem;
  left             : 0.0rem;
  width            : 100%;
  height           : 2.5rem;
  font-family      : BrandonGrotesque;
}

@media screen and ( min-width : 1000px )
{
  .Header .Name
  {
    position    : fixed;
    font-size   : 1.7rem;
    margin-top  : 0.0rem;
    margin-left : 2.0rem;
    text-align  : left;
    color       : #FFFFFF;
  }

  .Header .Links
  {
    position    : fixed;
    font-size   : 1.7rem;
    left        : 37%;
    margin-top  : 0.0rem;
  }

}
@media screen and ( max-width : 1000px )
{
  .Header .Name
  {
    position    : fixed;
    margin-top  : 0.0rem;
    margin-left : 0.0rem;
    text-align  : left;
    color       : #36454F;
  }

  .Header .Links
  {
    position    : fixed;
    font-size   : 1.7rem;
    left        : 0.0rem;
    margin-top  : 0.0rem;
  }

}


a.navlink:link
{
  color           : #FFFFFF;
  text-decoration : none;
  padding         : 0.5rem;
}
a.navlink:visited
{
  color           : #FFFFFF;
  text-decoration : none;
  padding         : 0.5rem;
}
a.navlink:hover
{
  color           : #FFA500;
  text-decoration : none;
  padding         : 0.5rem;
}
a.navlink:active
{
  color           : #FF0000;
  text-decoration : none;
  padding         : 0.5rem;
}

.Header .ExternalLinks
{
  float           : right;
  list-style-type : none; /* Don't show the bullet point */
  margin-right    : 2.0rem;
  margin-top      : 0.4rem;
}

/* --- Images --- */

img.rounded-corners
{
  border-radius : 30px;
  border        : 2px solid #FFFFFF;
}

/* --- Body --- */

body
{
  margin-left           : 5.0%;
  margin-right          : 7.0%;
  font-size             : 1.25rem;
  margin-top            : 2.0rem;
  margin-bottom         : 2.0rem;
  font-family           : Mission Script;
  color                 : #36454F;
  background-color      : #FFFFFF;
  opacity               : 1.0;
}
p a:link
{
  color : #0000FF;
}
p a:visited
{
  color : #0000FF;
}
p a:hover
{
  color : #FF0000;
}
p a:active
{
  color : #FFFF00;
}

/* --- Publications --- */

a.publink:link
{
  color           : #36454F;
  text-decoration : none;
}
a.publink:visited
{
  color           : #36454F;
  text-decoration : none;
}
a.publink:hover
{
  color           : #FFA500;
  text-decoration : none;
}
a.publink:active
{
  color           : #FF0000;
  text-decoration : none;
}

/* --- Footer --- */

.footer
{
  position         : fixed;
  font-size        : 1.25rem;
  left             : 0.0rem;
  bottom           : 0.0rem;
  width            : 100%;
  background-color : #36454F;
  color            : #FFFFFF;
  height           : 2.0rem;
  border-top       : 3px solid #FFFFFF;
  font-family      : BrandonGrotesque;
}
.footer .Updated
{
  padding-top : 0.1rem;
  float       : left;
  margin-left: 2.0rem;
}
.footer .Logo
{
  position    : relative;
  left        : 25%;
  padding-top : 0.25rem;
  width       : 1.5rem;
  height      : 1.5rem;
}
.footer .FigAcknowledgements
{
  padding-top  : 0.0rem;
  float        : right;
  margin-right : 2.0rem;
}

/* Taken from:
https://stackoverflow.com/questions/10732690/offsetting-an-html-
anchor-to-adjust-for-fixed-header */
a.TopAnchor
{
  display    : block;
  position   : relative;
  top        : -10rem;
  visibility : hidden;
}
a.SectionAnchor
{
  display    : block;
  position   : relative;
  top        : -1rem;
  visibility : hidden;
}
a.SectionAnchor:hover
{
  color : #36464F;
}
