@font-face
{
  font-family : BrandonGrotesque;
  src: url( BrandonGrotesque.otf );
}

/* Make sections appear on their own rows */
div.row
{
  content : "";
  display : table;
  clear   : both;
}

/*--- Header ---*/

.Header
{
  position         : fixed;
  background-color : #36454F;
  top              : 0.0em;
  left             : 0.0em;
  width            : 100%;
  height           : 2.5em;
  font-family      : BrandonGrotesque;
}

.Header .Name
{
  position    : fixed;
  margin-top  : 0.3em;
  margin-left : 2.0em;
  font-size   : 1.25em;
  text-align  : left;
  color       : #FFFFFF;
}

.Header .Links
{
  position    : fixed;
  left        : 25%;
  margin-top  : 0.3em;
  font-size   : 1.25em;
}

.Header .Links a:link, a:visited
{
  color           : #FFFFFF;
  text-decoration : none;
  padding         : 0.5em;
}
.Header .Links a:hover
{
  color           : #FFA500;
  text-decoration : none;
}
.Header .Links a:active
{
  color           : #FFFF00;
  text-decoration : none;
}

.Header .ExternalLinks
{
  float           : right;
  list-style-type : none; /* Don't show the bullet point */
  margin-right    : 2.0em;
  margin-top      : 0.5em;
}

/* --- Images --- */
img.rounded-corners
{
  border-radius : 30px;
  border        : 2px solid #FFFFFF;
}

hr
{
  width  : 70%;
  margin : 2% auto;
  border : 2px solid white;
}

/*--- Body ---*/
body
{
  margin-left           : 5.0%;
  margin-right          : 7.0%;
  margin-top            : 2.0em;
  margin-bottom         : 2.0em;
  font-family           : Mission Script;
  font-size             : 1.5em;
  color                 : #36454F;
  background-color      : #FFFFFF;
  opacity               : 1.0;
}
p a:link
{
  color : #0000FF;
}
p a:visited
{
  color : #0000FF;
}
p a:hover
{
  color : #FF0000;
}
p a:active
{
  color : #FFFF00;
}

/*--- Footer ---*/
.footer
{
  position         : fixed;
  left             : 0.0em;
  bottom           : 0.0em;
  width            : 100%;
  background-color : #36454F;
  color            : #FFFFFF;
  font-size        : 1.0em;
  height           : 2.0em;
  border-top       : 3px solid #FFFFFF;
  font-family      : BrandonGrotesque;
}
.footer .Updated
{
  padding-top : 0.3em;
  float       : left;
  margin-left : 2.0em;
}
.footer .Logo
{
  position    : relative;
  left        : 25%;
  padding-top : 0.3em;
  width       : 1.2em;
  height      : 1.2em;
}
.footer .FigAcknowledgements
{
  padding-top  : 0.3em;
  float        : right;
  margin-right : 2.0em;
}

/* Taken from:
https://stackoverflow.com/questions/10732690/offsetting-an-html-
anchor-to-adjust-for-fixed-header */
a.TopAnchor
{
  display    : block;
  position   : relative;
  top        : -10em;
  visibility : hidden;
}
a.SectionAnchor
{
  display    : block;
  position   : relative;
  top        : -1em;
  visibility : hidden;
}
a.SectionAnchor:hover
{
  color : #36464F;
}
